*{
	box-sizing: border-box;
}
body {
	margin: 0;
}
.navbar {
	background-color: #3bb19b;
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	padding: 0 1 rem;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}
.navbar ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap : 1 rem;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.username {
	padding: 0;
	margin: 0;
}
